{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ register.hidden_tag() }}
    <div class="form-group">
        {{ register.username.label }}
        {{ register.username(class="form-control", placeholder="Username") }}
    </div>
    <div class="form-group">
        {{ register.email.label }}
        {{ register.email(class="form-control", placeholder="Email") }}
        {% if register.email.errors %}
        <ul>
            {% for error in register.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ register.password.label }}
        {{ register.password(class="form-control", placeholder="Password") }}
    </div>
    {{ register.submit(class="btn btn-primary mb-2") }}
</form>
{% endblock %}
